/*HEADER*/

.custom-header {
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
    }

.custom-header-container.flexbox {
    border-bottom: solid #BE9F55;
}

    .custom-header-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        max-width: var(--main-container-max-width, 1280px);
        margin: 0 auto;
        padding: 10px 16px;
        box-sizing: border-box;
    }
a.nav-links, a{
color: #BE9F55;
}

a.nav-links:hover, a:hover{
color: #777;
}

button[data-ody-id=SearchButton]:focus, button[data-ody-id=SearchButton]:hover{
       background-color: #333;
    border-color: #333;     
}

.btn-container .primary-btn, .btn-container .primary-btn:hover{
         background: #BE9F55!important;
    border: 2px solid #BE9F55!important;   
}

.btn-container .secondary-btn, .btn-container .secondary-btn:hover {
    color: #BE9F55!important;
    border: 2px solid #BE9F55!important;
}

    .custom-phone {
        font-size: 20px;
        color: #BE9F55;
    }

    .custom-phone:hover {
        text-decoration: none;
        color: #BE9F55;
    }

    @media (max-width: 768px) {
        .custom-header-brand img {
            max-width: 170px;
            height: auto;
        }

        .custom-header-brand {
            margin-bottom: 20px;
        }

        .custom-header-container {
            justify-content: center;
            flex-direction:column;
        }
    }

/*BODY FONT RESPONSIVE*/

@media(max-width: 1200px){
        body {font-size: 85%;}
}

@media(max-width: 768px){
        body {font-size: 80%;}
}

/*ADMIN FORGOT PASSWORD*/
div.logbox div.login .rememberblock {
    display: none!important;
}

/*SEARCH BAR*/

/*Hide Cruise tour checkbox*/
section[data-ody-id="CruiseSearchBarSection"] .searchbar-checkbox-group .ml-3.my-2.ng-star-inserted:nth-of-type(2) {
    display: none;
}

/*hide show all packages*/
section[data-ody-id="CruiseSearchBarSection"] .searchbar-checkbox-group div.ml-3.my-2:nth-of-type(8) {
    display: none;
}

/*Hide Rules section*/
[data-ody-id="FilterPanelRules"] {
    display: none;
}

.search-bar-section {
    background: #fff!important;
    color: #666!important;
}

.search-resultpage.swift-search-bar label, .search-resultpage.swift-search-bar label{
        color: #666!important;
}

.search-resultpage.swift-search-bar .custom-guest-dialog, .search-resultpage.swift-search-bar .form-control.custom-datepicker, .search-resultpage.swift-search-bar .form-control.custom-select, .search-resultpage.swift-search-bar input.form-control {
    border-color: rgba(0,0,0,.1)!important;
    color: #000!important;
}

.search-bar-section ody-dropdown .select2-container--default .select2-selection--multiple, .search-bar-section ody-dropdown .select2-container--default .select2-selection--single, .search-bar-section ody-dropdown .select2-container--default.select2-container--disabled .select2-selection--multiple, .search-bar-section ody-dropdown .select2-container--default.select2-container--disabled .select2-selection--single, .search-bar-section ody-dropdown .select2-container--default.select2-container--focus .select2-selection--multiple, .search-bar-section ody-dropdown .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #ddd;
}

.container-fluid.d-flex.align-items-center.justify-content-end.custom-modifysearch.pt-2, .bg-primary{
       background-color: #BE9F55;  
}

button[data-ody-id=SearchButton], .btn-primary, .primary-btn, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .btn-primary {
    background-color: #BE9F55;
    border-color: #BE9F55;
}

.btn-outline-primary {
    border-color: #BE9F55;
}

.progress-stepper-arrow .checkout-steps-wrap .checkout-step.current .checkout-step-inner::after, .progress-stepper-arrow .checkout-steps-wrap .checkout-step.past .checkout-step-inner::after, .nav-stepper .nav-link.active::after {
    border-color: transparent #BE9F55!important;
}

.cruise-title, .btn-outline-primary, .filter-panel .card .card-heading .panel-icon, h4.cruise-title.clearfix.dir-ltr.ng-star-inserted, .text-price-color, .text-primary, .top-line .nav-tabs>li.active>a.nav-link, .top-line .nav-tabs>li.active>a.nav-link:focus, .top-line .nav-tabs>li.active>a.nav-link:hover, .section-air-search-tabs .air-search-tabs .air-search-tab input:checked+span {
    color: #BE9F55!important;
}

.btn-outline-primary, .nav-tabs>li.active>a.nav-link, .nav-tabs>li.active>a.nav-link:focus, .nav-tabs>li.active>a.nav-link:hover, .section-package-details, .loading-box, .loading-box-air, .loading-box-cruise, .loading-box-hotel, .flight-info, .loading-box, .loading-box-air, .loading-box-cruise, .loading-box-hotel, .section-booking-timer-extend, .trip-price-popup {
    border-color: #BE9F55!important;
}

.btn-outline-secondary {
    color: #BE9F55!important;
    border-color: #BE9F55!important;
}

.nav-tabs-overline>.nav-tabs .nav-link.active {
   color: #BE9F55!important;
    border-top-color: #BE9F55!important;
}

.bg-primary, .filter-panel div.bg-primary, .nav-stepper .nav-link.active, .table-header.supplier-payment-title-table, .splash-header, .multiselect-package-icons .package-summary-icon .odi.active, .custom-control-input:checked~.custom-control-label::before {
    background-color: #BE9F55!important;    
}

.bg-secondary, .progress-steppe-arrow .checkout-steps-wrap .checkout-step.current .checkout-step-inner, .progress-stepper-arrow .checkout-steps-wrap .checkout-step.past .checkout-step-inner, .checkout-stepper-accordion .st-open>.card-header, .section-air-search-tabs .air-search-tabs .air-search-tab input:checked+span::before, .flight-info .transit-table-top, .ui-slider .ui-slider-handle, .ui-slider .ui-slider-range, .ui-slider .ui-slider-handle, .ui-slider .ui-slider-range, .progress-stepper-arrow .checkout-steps-wrap .checkout-step.current .checkout-step-inner{
     background: #BE9F55!important;    
}

/*MAIN PAGE*/
.cruise-sailing-dates .nav-tabs>li.nav-item>a.nav-link.active, .cruise-sailing-dates .nav-tabs>li.nav-item>a.nav-link.active:focus, .cruise-sailing-dates .nav-tabs>li.nav-item>a.nav-link.active:hover {
    border-top: 2px solid #BE9F55!important;
    color: #BE9F55;
}

.ui-slider .ui-slider-handle, .ui-slider .ui-slider-range, .matrix-card .airline-matrix-wrap .matrix-left .mstops label, .text-primary, .text-secondary, .page-title, .nav-stepper .stepper-item-caption{
color: #BE9F55!important;
}


/*SEARCH CSS*/
.search-resultpage.swift-search-bar .custom-guest-dialog, .search-resultpage.swift-search-bar .form-control.custom-datepicker, .search-resultpage.swift-search-bar .form-control.custom-select, .search-resultpage.swift-search-bar input.form-control {
    background-color: transparent;
    border-color: #ddd!important;
    color: #333!important;
}

.air-searchform-top .top-title .odi::before{
        background: rgba(0,0,0,0)!important;
}
