.search-bar-section {
    background: #fff;
    color: #666;
}

.search-bar-section ody-dropdown .select2-container--default .select2-selection--multiple, .search-bar-section ody-dropdown .select2-container--default .select2-selection--single, .search-bar-section ody-dropdown .select2-container--default.select2-container--disabled .select2-selection--multiple, .search-bar-section ody-dropdown .select2-container--default.select2-container--disabled .select2-selection--single, .search-bar-section ody-dropdown .select2-container--default.select2-container--focus .select2-selection--multiple, .search-bar-section ody-dropdown .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #ddd;
}
