tr[data-ody-id='ItineraryAddAirButton'] {
  display: table-row !important;
}

/*FLIGHT RESULTS CSS*/
div.flprice span[data-ody-id="TripTotal"] {
    font-weight: 700;
    font-size: 1.75em;
}

.price-box .air-sub-price {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85em;
}

/*Flight Filters*/
.filter-section .search-filter .filter-list .only-text {
    position: absolute;
    padding: 6px!important;
    top: 2px!important;
    right: 2px!important;
    background: #be9f55;
    font-weight: 700;
}

div[data-original-title="Flight departure is close to cruise departure."]:after, div[data-original-title="Flight arrival is close to cruise departure."]:after, div[data-original-title="Flight departure is close to cruise arrival."]:after, div[data-original-title="Flight arrival is close to cruise arrival."]:after, div[data-original-title="Flight departure is after cruise departure."]:after, div[data-original-title="Flight arrival is after cruise departure."]:after {
    content: "This Flight Is Not Selectable";
    right: 0;
    /*max-width: 210px;*/
    word-wrap: normal;
    display: block;
    text-wrap: balance;
   padding: 5px 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2em;
    background: red;
    color: #fff;
  border-right: double 15px;
}

/*HOTEL RESULTS CSS*/
.default-product-searchform-container #odysseus #OVExploreContainer .od-tab-form-wrapper .od-button-wrapper.od-search-button .od-btn.btn-search {
    background-color: #be9f55!important;
}
