/*Font Queries*/
/*Sofia Pro*/

 @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Regular%20Az.ttf");
    font-style: normal;
    font-weight: normal;
    src: local('Sofia Pro Regular'), url('Sofia Pro Regular Az.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Regular%20Italic%20Az.ttf");
    font-style: 400;
    font-weight: italic;

    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20ExtraLight%20Italic%20Az.ttf");
    font-style: 100;
    font-weight: normal;
    }

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20ExtraLight%20Italic%20Az.ttf");
    font-style: 100;
    font-weight: italic;
    }

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20UltraLight%20Az.ttf");
    font-style: 200;
    font-weight: normal;
    src: local('Sofia Pro UltraLight'), url('Sofia Pro UltraLight Az.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20UltraLight%20Italic%20Az.ttf");
    font-style: 200;
    font-weight: italic;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Light%20Az.ttf");  
    font-style: 300;
    font-weight: normal;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Light%20Italic%20Az.ttf");  
    font-style: 300;
    font-weight: italic;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Medium%20Az.ttf");  
    font-style: 500;
    font-weight: normal;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Medium%20Italic%20Az.ttf");  
    font-style: 500;
    font-weight: italic;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20SemiBold%20Az.ttf");
    font-style: 600;
    font-weight: normal;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20SemiBold%20Italic%20Az.ttf");  
    font-style: 600;
    font-weight: italic;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Bold%20Az.ttf");  
    font-style: 700;
    font-weight: normal;

    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Bold%20Italic%20Az.ttf");  
    font-weight: 700;
    font-style: italic;
    }
    

    @font-face {    
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Black%20Az.ttf");  
    font-style: normal;
    font-weight: 900;
    }
    

    @font-face {
    font-family: 'Sofia Pro';
    src: url("https://q2099.github.io/Q_Project_Hub/fonts/Sofia%20Pro%20Black%20Italic%20Az.ttf");  
    font-style: italic;
    font-weight: 900;
    }

/*Centabel*/
@font-face {
  font-family: "Centabel";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/centabel.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*Adrianna Extended*/
@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-Thin.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-ThinItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-RegularItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-DemiBold.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-DemiBoldItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Adrianna Extended";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/AdriannaExtended-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

/*NOAH TEXT*/
@font-face {
  font-family: "Noah";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/8cdca7c8db12853e247ee0ee05df9cbc51242bfb/fonts/Noah-Text-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Noah";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/8cdca7c8db12853e247ee0ee05df9cbc51242bfb/fonts/Noah%20Text%20Bold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noah";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/8cdca7c8db12853e247ee0ee05df9cbc51242bfb/fonts/Noah%20Text%20Bold.ttf?raw=true")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*STRANGER IN THE NIGHT*/
@font-face {
  font-family: "Stranger";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Stranger%20back%20in%20the%20Night.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*BLOWBRUSH*/
@font-face {
  font-family: "Blowbrush";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/blowbrush.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*MAJESTI BANNER*/
@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-Book.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-BookItalic.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: Italic;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-Light.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-LightItalic.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: Italic;
}


@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-Medium.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-MediumItalic.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: Italic;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-Bold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-BoldItalic.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: Italic;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-Heavy.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Majesti";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/Majesti-Banner-HeavyItalic.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: Italic;
}

/*TEXTA*/
@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaThin.ttf?raw=true")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaThinIt.ttf?raw=true")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaLight.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaLightIt.ttf?raw=true")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaBook.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaBookIt.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaRegular.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaRegularIt.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaMedium.ttf?raw=true")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaMediumIt.ttf?raw=true")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaBold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaBoldIt.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaHeavy.ttf?raw=true")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaHeavyIt.ttf?raw=true")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaBlack.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Texta";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/TextaBlackIt.ttf?raw=true")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

/*TRUE LIES*/
@font-face {
  font-family: "True Lies";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/True%20Lies.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*SKYFALL*/
@font-face {
  font-family: "Skyfall";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/SkyFall%20Done.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*The Citizens*/
@font-face {
  font-family: "Citizens";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/the%20Citizens.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Constan*/
@font-face {
  font-family: "Constan";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/constan.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Constan";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/constani.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Constan";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/constanb.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Constan";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/constanz.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*ARVO*/
@font-face {
  font-family: "Arvo";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Arvo-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Arvo";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Arvo-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*BEBAS NEUE*/

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Pro";
  src:url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-Book.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-BookItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/BebasNeuePro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*HELVETICA NOW*/
@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-ExtLtIta.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-RegIta.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-ExtBdIta.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://q2099.github.io/Q_Project_Hub/fonts/HelveticaNowText-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

/*HELVETICA NEUE*/
@font-face {
  font-family: "Helvetica Neue";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/HelveticaNeue Thin.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/HelveticaNeue Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/HelveticaNeue Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Helvetica Neu Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/HelveticaNeue BlackCond.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*PC.DE*/
@font-face {
  font-family: "PC.DE";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/a8af9f52439d350233bdbe909a02596c8847f121/fonts/PC_DE-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PC.DE";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/pc de-bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*Nightlife*/
@font-face {
  font-family: "Nightlife";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Nightlife-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nightlife";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Nightlife-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nightlife";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Nightlife-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*Ananda*/

@font-face {
  font-family: "Ananda";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/19e96834b8928952b2d52cea9175b845c18dfc7f/fonts/Ananda%20Personal%20Use.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ananda";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/19e96834b8928952b2d52cea9175b845c18dfc7f/fonts/Ananda%20Black%20Personal%20Use.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*GOTHAM*/

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Light.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Book.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Medium.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Regular.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham%20Black.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/3c9c4d7bad7894da642238548efe1a61e7eb2ef8/fonts/Gotham-Ultra.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}




/*Passion One*/
@font-face {
  font-family: "Passion One";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/PassionOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Passion One";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/PassionOne-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Passion One";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/PassionOne-Bold.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*Heroic Condensed*/

@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/c4ce57d9dc991b2382aee33e816d72ab660ad580/fonts/Heroic%20Condensed%20Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/c4ce57d9dc991b2382aee33e816d72ab660ad580/fonts/Heroic%20Condensed%20Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/c4ce57d9dc991b2382aee33e816d72ab660ad580/fonts/Heroic%20Condensed%20Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/c4ce57d9dc991b2382aee33e816d72ab660ad580/fonts/Heroic%20Condensed%20Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/e6d512fd7dfacf134b0ab224dd436f6d9e04bd93/fonts/Heroic%20Condensed%20Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/e6d512fd7dfacf134b0ab224dd436f6d9e04bd93/fonts/Heroic%20Condensed%20Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/afe03726e3966b8f7514c6127351f6cf9e104106/fonts/Heroic%20Condensed%20Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Heroic Condensed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/74a3c75fa4d1cc9876ce56ee88c442f7fd7ee1e0/fonts/Heroic Condensed Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


/*OTHERS*/

@font-face {
  font-family: "Inversionz Unboxed";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/Inversionz Unboxed.ttf");
}

@font-face {
  font-family: "No Continue";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/cc580921102c8296b5f2f65ec23903848c4493f0/fonts/gomarice_no_continue.ttf");
}

/*FOR THE LOVE OF HATE*/
@font-face {
  font-family: "LOH";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/a88052490c76019b99042bb24b0de3fe40f12b94/fonts/Fortheloveofhatelight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LOH";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/caf3119e662b6fcfa5fd777a0d3631a08e4f9284/fonts/Fortheloveofhate.ttf?raw=true")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*POPPINS*/
@font-face {
  font-family: "Poppins";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/caf3119e662b6fcfa5fd777a0d3631a08e4f9284/fonts/Fortheloveofhatelight.ttf?raw=true")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/a88052490c76019b99042bb24b0de3fe40f12b94/fonts/Poppins-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/a88052490c76019b99042bb24b0de3fe40f12b94/fonts/Poppins-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/a88052490c76019b99042bb24b0de3fe40f12b94/fonts/Poppins-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/a88052490c76019b99042bb24b0de3fe40f12b94/fonts/Poppins-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/11c9bb157f6b9d39fa23b6d2cf16e50b1a5ddcca/fonts/TwCenMTStdLight.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/11c9bb157f6b9d39fa23b6d2cf16e50b1a5ddcca/fonts/TwCenMTStd.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/11c9bb157f6b9d39fa23b6d2cf16e50b1a5ddcca/fonts/TwCenMTStdBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/11c9bb157f6b9d39fa23b6d2cf16e50b1a5ddcca/fonts/TwCenMTStdExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "tw-cen-mt-std";
  src: url("https://rawcdn.githack.com/Q2099/Q_Project_Hub/11c9bb157f6b9d39fa23b6d2cf16e50b1a5ddcca/fonts/twcenmtstdultrabold.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

/*Font Classes*/
.tw-cen-mt-std {
  font-family: "tw-cen-mt-std" !important;
}

.Arvo {
  font-family: "Arvo" !important;
}

.ananda {
  font-family: "Ananda" !important;
}

.gotham {
  font-family: "Gotham" !important;
}

.helvetica_neue {
  font-family: "Helvetica Neue" !important;
}

.helvetica_now
{
  font-family: "Helvetica Now Text"!important;
}

.centabel {
  font-family: "Centabel" !important;
}

.pc_de {
  font-family: "PC.DE" !important;
}

.heroic {
  font-family: "Heroic Condensed" !important;
}

.Nightlife {
  font-family: "Nightlife" !important;
}

.passion-one {
  font-family: "Passion One" !important;
}

.inversionz {
  font-family: "Inversionz Unboxed" !important;
}

.no_continue {
  font-family: "No Continue" !important;
}

.noah {
  font-family: "Noah" !important;
}

.poppins {
  font-family: "Poppins" !important;
}

.bebas_neue {
  font-family: "Bebas Neue Pro" !important;
}

.blowbrush {
  font-family: "BLowbrush" !important;
}

.texta {
  font-family: "Texta" !important;
}

.constan {
  font-family: "Constan" !important;
}

.majesti {
  font-family: "Majesti" !important;
}

.skyfall {
  font-family: "Skyfall" !important;
}

.true_lies {
  font-family: "True Lies" !important;
}

.citizens {
  font-family: "Citizens" !important;
}

.stranger {
  font-family: "Stranger" !important;
}
