/*FLEX BOXES*/
.flexbox{display: flex;flex-wrap: wrap;width: 100%;}
.fbx-100{width: calc(100% - 20px);padding: 0 5px;}
.fbx-84{width: calc(83.333% - 20px);padding: 0 5px;}
.fbx-75{width: calc(75% - 20px);padding: 0 5px;}
.fbx-66{width: calc(66.667% - 20px);padding: 0 5px;}
.fbx-50{width: calc(50% - 20px);padding: 0 5px;} /*2 column*/
.fbx-33{width: calc(33.333% - 20px);padding: 0 5px;} /*3 column*/
.fbx-25{width: calc(25% - 20px);padding: 0 5px;} /*4 column*/
.fbx-20{width: calc(20% - 20px);padding: 0 5px;}/*5 column*/
.fbx-16{width: calc(16.667% - 20px);padding: 0 5px;}/*6 column*/
.fbx-12{width: calc(12.5% - 20px);padding: 0 5px;}/*8 column*/
.fbx-10{width: calc(10% - 20px);padding: 0 5px;}/*10 column*/

/*BOX ALIGNMENTS*/
.h-left{ justify-content:flex-start;}
.h-center{ justify-content:center;}
.h-right{ justify-content:flex-end;}
.h-around{ justify-content:space-around;}
.h-even{ justify-content:space-evenly;}
.h-between{ justify-content:space-between;}

.v-top{ align-items:flex-start;}
.v-middle{ align-items:center;}
.v-bottom{ align-items:flex-end;}



/*ALL ENCOMPASSING STYLES*/
.content-width-1200{max-width: 1200px;}
.img-box-100{width: 100%;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.reverse-col{flex-direction: column-reverse;}
.reverse-row{flex-direction: row-reverse;} 

@media(max-width: 1024px){
.fbx-12{width: calc(25% - 10px);}
  .fbx-16{width: calc(33.333% - 10px);}
  .fbx-25{width: calc(50% - 20px);}
}

@media(max-width: 920px){

.fbx-20{width: calc(50% - 20px);}
.fbx-16{width: calc(50% - 20px);} 
.fbx-12{width: calc(25% - 20px);}
.fbx-10{width: calc(20% - 20px);}
}

@media(max-width: 768px){
.fbx-84{width: calc(66.667% - 20px);}  
.fbx-75{width: calc(50% - 20px);}
.fbx-50{width: calc(100%);}
.fbx-66{width: calc(50% - 20px);}   
.fbx-33{width: calc(50% - 20px);}
 .fbx-10{width: calc(25% - 20px);} 



.text-right{text-align:center;}
.text-left{text-align:center;} 

/*TABLET SPECIFIC STYLES*/
.t-reverse-col{flex-direction: column-reverse;}
.t-reverse-row{flex-direction: row-reverse;}  
}

@media(max-width: 720px){
.fbx-12{width: calc(50% - 20px);}
}

@media(max-width: 680px){
.fbx-66{width: calc(100%);}
.fbx-33{width: calc(100%);}
}

@media(max-width: 550px){
.fbx-84{width: calc(100%);}
.fbx-75{width: calc(100%);}
.fbx-50{width: calc(100%);}
.fbx-25{width: calc(100%);}
.fbx-20{width: calc(100%);}
.fbx-16{width: calc(50% - 20px);}  
.fbx-12{width: calc(100%);}

/*MOBILE SPECIFIC STYLES*/  
.m-reverse-col{flex-direction: column-reverse;}
.m-reverse-row{flex-direction: row-reverse;} 
}

@media(max-width: 320px){
  .fbx-16{width: calc(100%);} 
}
