@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

div#status-text {
    position: absolute;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 2px 6px #777;
    -webkit-animation: fadeInOut 3s;
    animation: fadeInOut 3s;
      -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

.bootstrap_form select, .bootstrap_form textarea, .bootstrap_form input[type=text], .bootstrap_form input[type=password], .bootstrap_form input[type=datetime], .bootstrap_form input[type=datetime-local], .bootstrap_form input[type=date], .bootstrap_form input[type=month], .bootstrap_form input[type=time], .bootstrap_form input[type=week], .bootstrap_form input[type=number], .bootstrap_form input[type=email], .bootstrap_form input[type=url], .bootstrap_form input[type=search], .bootstrap_form input[type=tel], .bootstrap_form input[type=color], .bootstrap_form .uneditable-input{
    height: 30px!important;
    font-size: 16px!important;
}
